
#Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rajput-foods-website"

#Authentication (better-auth)
BETTER_AUTH_SECRET="yoursupersecret"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000" 

